<div class="align-center">
    <h1>Task One (Bindings)</h1>
    <br>
    <input type="text" [(ngModel)] = 'input1' placeholder="Name"/><br><br>
    <textarea name="" id="" cols="30" rows="10" [(ngModel)] = 'textareainput' placeholder="Description"></textarea><br><br>
    <input type="text" [(ngModel)] = 'showImage' placeholder="image URL"/><br><br>
    <input type="checkbox" [(ngModel)] = 'tryCheck' /><br>
    Check to add Red Border
</div>
<div class="results">
    <p>{{input1}}</p>
    <p [style.border] = "tryCheck ? '5px solid red' : ''">{{textareainput}}</p>
    <img [src]='showImage' />
</div>

